@import "tailwindcss";

:root {
  --1-color: #fca311;
  --2-color: #ff7700;
  --3-color: hwb(29 0% 5%);
  --4-color: #f8e007;
  --5-color: #ff101f;
  --bg-color: #ebebeb; /* Light mode background e5e5e5 */
  --text-color: #030027;
  --font-orbitron: var(--font-orbitron);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}

main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}
